<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="https://unpkg.com/mdui@1.0.2/dist/css/mdui.min.css" />
	<link rel="stylesheet" href="./mdui.css" />
</head>

<body class="mdui-appbar-with-toolbar mdui-theme-primary-white mdui-appbar-with-tab mdui-theme-accent-pink ">
	<div id="BMS"><!-- mdui appbar+tabbar -->
		<div class="mdui-appbar mdui-appbar-fixed  mdui-color-white">
			<div class="mdui-toolbar">
				<a href="javascript:;" class="mdui-btn mdui-btn-icon" mdui-drawer="{target: '#left-drawer'}"><i
						class="mdui-icon material-icons">menu</i>
				</a>
				<a href="javascript:;" class="mdui-typo-headline mdui-hidden-xs">BJWeather</a>
				<a href="javascript:;" class="mdui-typo-title">北京气象台</a>
				<div class="mdui-toolbar-spacer"></div>
				<div class="mdui-chip">
					<span class="mdui-chip-title">{{refreshTime.display}}</span>
				</div>
				<a href="javascript:;" class="mdui-btn mdui-btn-icon">
					<i class="mdui-icon material-icons" onclick="location.reload()">refresh</i>
				</a>
				<a href="javascript:;" class="mdui-btn mdui-btn-icon">
					<i class="mdui-icon material-icons">more_vert</i>
				</a>
			</div>
			<div class="mdui-tab mdui-color-white" mdui-tab>
				<a href="#tab1" class="mdui-ripple">当前</a>
				<a href="#tab2" class="mdui-ripple">3h预报</a>
				<a href="#tab3" class="mdui-ripple">36h预报</a>
				<a href="#tab4" class="mdui-ripple">雷达图</a>
			</div>
		</div>

		<!-- BMS body -->

		<!-- currrent -->
		<div id="tab1" class="mdui-p-a-2">
			<select class="mdui-select" id="ddd" v-model="distrect" @change="getDistrectInfo()">
				<option :value=item.name v-for="(item,index) in distrectData.value">{{item.name}}</option>
			</select>
			<h3>当前天气(发布时间{{current.datetime}}):</h3>
			<ul>
				<li v-show="this.current.weather">天气：{{current.weather}}</li>
				<li>气温：{{current.temperature}}℃</li>
				<li>风速：{{current.windspeed}}m/s</li>
				<li>风向：{{current.winddirection}}</li>
				<li>气压：{{current.airpressure}}hPa</li>
				<li>相对湿度：{{current.humidity}}%</li>
			</ul>
		</div>

		<!-- 3h -->
		<div id="tab2" class="mdui-p-a-2">
			<h3>3小时预报(发布时间{{threeHours.datetime}}):</h3>
			<div class="mdui-table-fluid tExtra">
				<table class="mdui-table mdui-table-hoverable">
					<thead>
						<tr>
							<th>时间</th>
							<th>天气</th>
							<th>气温</th>
							<th>风力</th>
							<th>风向</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="(item,index) in threeHours.value" :key="item.hour">
							<td>{{index}}</td>
							<td>{{item.wp}}</td>
							<td>{{item.t}}℃</td>
							<td>{{item.wspeed}}</td>
							<td>{{item.wdir}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<!-- 36h -->
		<div id="tab3" class="mdui-p-a-2">
			<h3>36小时预报(发布时间{{thirtysixHoursDateTime}}):</h3>
			<ul>
				<li v-for="(item,index) in thirtysixHours" :key="item.lv">
					{{item.date}}：天气：{{item.weather}}
					气温：{{item.plain_temp}}
					风力：{{item.windspeed}} 风向：{{item.wind}} 相对湿度：{{item.other}}</li>
			</ul>
		</div>

		<!-- radar -->
		<div id="tab4" class="mdui-p-a-2">
			<h3>{{radar.title}}(发布时间{{radar.datetime}}):</h3>
			<img class="mdui-img-fluid" :src="radar.img" />
		</div>

		<!-- sidebar -->
		<div class="mdui-drawer mdui-drawer-close " id="left-drawer">
			<ul class="mdui-list">
				<li class="mdui-list-item mdui-ripple mdui-list-item-active">
					<i class="mdui-list-item-icon mdui-icon material-icons">move_to_inbox</i>
					<a class="mdui-list-item-content">BMS</a>
				</li>
				<li class="mdui-list-item mdui-ripple">
					<i class="mdui-list-item-icon mdui-icon material-icons">star</i>
					<a class="mdui-list-item-content" href="./NMC.html">NMC</a>
				</li>
			</ul>
		</div>
	</div>
	<script src="https://unpkg.com/mdui@1.0.2/dist/js/mdui.min.js"></script>
</body>

<script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/quasar@1.20.2/dist/quasar.umd.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
	const BMS = new Vue({
		el: "#BMS",
		data: {
			current: {},
			radar: {},
			threeHours: {},
			thirtysixHours: {},
			distrectData: {},
			distrect: "市中心",
			forecastData: {},
			thirtysixHoursDateTime: "",
			refreshTime: {
				display: "刚刚刷新",
				min: 0,
				secound: 0,
			},
		},
		async created() {
			const forecastRes = await axios.get("http://101.200.145.109:8087/weather/scene/data.do?callback=&id=11");
			console.log("天气预报：", forecastRes);
			this.forecastData = forecastRes.data.substr(1, forecastRes.data.length - 2);
			this.forecastData = JSON.parse(this.forecastData);
			//当前天气
			const distrectRes = await axios.get("http://101.200.145.109:8087/weather/scene/data.do?callback=&id=8");
			this.distrectData = distrectRes.data.substr(1, distrectRes.data.length - 2);
			this.distrectData = JSON.parse(this.distrectData);
			this.$nextTick(function () {
				console.log('v-for渲染已经完成')
				var inst = new mdui.Select('#ddd');
				inst.handleUpdate();
			})
			this.getDistrectInfo();
			console.log(this.distrectData);

			//3小时
			this.threeHours = JSON.parse(this.forecastData.ThreeHours);
			console.log(this.threeHours);
			//36小时
			let temp = JSON.parse(this.forecastData.thirtysix);
			this.thirtysixHoursDateTime = temp.datetime;
			for (item in temp.value) {
				this.thirtysixHours[temp.value[item].lv] = temp.value[item];
			}
			console.log(this.thirtysixHours);
			//雷达图
			const radarRes = await axios.get("http://101.200.145.109:8087/weather/scene/data.do?callback=&id=12");
			console.log("雷达图：", radarRes);
			let radarData = radarRes.data.substr(1, radarRes.data.length - 2);
			radarData = JSON.parse(radarData);
			this.radar = {
				img: "http://101.200.145.109:8087/qxj/" + radarData[0].fileName,
				title: radarData[0].title,
				datetime: radarData[0].datetime
			};
			setInterval(() => {
				this.refreshTime.secound += 30;
				if (this.refreshTime.secound == 60) {
					this.refreshTime.min += 1;
					this.refreshTime.secound = 0;
				}
				this.refreshTime.display = "";
				if (this.refreshTime.min != 0) {
					this.refreshTime.display = this.refreshTime.min + "分";
				}
				if (this.refreshTime.secound != 0) {
					this.refreshTime.display += + this.refreshTime.secound + "s";
				}
				this.refreshTime.display += "前";
			}, 30000);
		},
		methods: {
			getDistrectInfo() {
				let currentRes = this.distrectData.value[this.distrect];
				this.current = {
					datetime: this.distrectData.datetime,
					temperature: currentRes.wendu,
					windspeed: currentRes.fengl,
					winddirection: currentRes.fengx,
					airpressure: currentRes.qiya,
					humidity: currentRes.shidu,
				}
				if (currentRes.name == "市中心") {
					this.current.weather = JSON.parse(this.forecastData.Scene).value.name;
				}
			}
		},
	});

</script>

</html>