.mdui-list-item-active {
	/* color: #1a73e8; */
	background-color: #e8f0fe;
	border-radius: 20px 20px 20px 20px !important;
}

.mdui-list-item {
	padding-left: 20px;
	border-radius: 0 50px 50px 0;
}

/* .mdui-table-fluid.tExtra {
	max-width: 800px;
} */

#refreshDisplay {
	display: block;
}

.needUpdate {
	background-color: red;
	color: white;
}

.mdui-table {
	white-space: nowrap;
}

@media (prefers-color-scheme: dark) {
	.autoDarkAppBar {
		background-color: #303030 !important;
		color: #fff !important;
	}
}

.mdui-panel-item-title {
	width: fit-content !important;
}

.mdui-appbar,
.mdui-select-menu,
.mdui-menu,
.mdui-dialog,
.mdui-card {
	box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
}

.mdui-menu,
.mdui-table-fluid,
.mdui-dialog,
.mdui-card,
.mdui-select-menu,
.mdui-tab-indicator {
	border-radius: 15px;
}

/* .mdui-tab-active {
	#primaryTabs {
		background-color: #e8f0fe !important;
		border-radius: 20px;
	}
}

#primaryTabs {
	padding: 4px 24px;
} */

/* .mdui-tab-indicator {
	display: none;
} */

#left-drawer {
	/* border-radius: 20px 20px 20px 20px; */
	padding: 10px;
	height: fit-content;
	width: fit-content;
}

.mdui-menu-item {
	border-radius: 20px;
	margin: 5px 0 0 0;
}

.mdui-tab-indicator {
	height: 4px;
}